.chat {
  display: grid;
  grid-template-columns: 350px auto;
  padding: 0 1rem;
  min-height: 88vh;
}

.sidebar {
  padding: 2rem 1rem 1rem 1rem;
  border-right: 1px solid var(--text-color);
}

.sidebar__header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 1px solid;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.sidebar__links {
  display: flex;
  gap: 1rem;
}

.sidebar__links button {
  background: none;
  border: none;
  font-weight: var(--w-200);
}

.sidebar__links .highlight {
  color: var(--primary-color);
  font-weight: var(--w-600);
}

.main {
  padding: 1rem;
}
