.new__chats {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.new__chats-li {
  height: 80px;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 0 0.5rem;
  background-color: var(--bg-alt);
}

.new__chats-img {
  height: 60px;
  aspect-ratio: 1;
  border-radius: 100%;
  border: 3px solid var(--primary-color);
}

.no__user {
  height: 60px;
  width: 100%;
  background-color: var(--alt-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}

@media (max-width: 768px) {
  .new__chats-img {
    height: 40px;
  }

  .new__chats-li {
    height: 60px;
  }

  .new__chats p {
    font-size: 0.9rem;
  }

  .new__chats small {
    font-size: 0.7rem;
  }
}
