.searchbar {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--bg-alt);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.searchbar input {
  width: 250px;
  background-color: var(--bg-alt);
  border: none;
  outline: none;
}

.search__icon {
  font-size: 1.2rem;
}
